﻿body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

h1 {
    font-size: 40px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: White; /* Цвет текста */
}

h2 {
    margin: 20px 10px 10px 20px;
    font: 25px sans-serif;
}

h3 {
    font: 15px sans-serif;
    color: white; /* Цвет текста */
}

#header {
    /* Верхний блок */
    background: green; /* Цвет фона */
    padding: 15px 10px 5px 40px; /* Поля вокруг текста */
    border: 1px solid white;
}

#SlowNews {
    float: left;
}

#userMail {
    text-align: right;
}

#sidebar {
    /* Левая колонка */
    float: left; /* Обтекание справа */
    width: 15%; /* Ширина колонки */
    padding: 0px 0px 0px 20px; /* Поля вокруг текста */
    margin: 0px 10px 20px 5px; /* Значения отступов */
}

#content {
    /* Правая колонка */
    margin: 0px 5px 20px 25%; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border-left: 1px dashed #000; /* Параметры линии */
}

#footer {
    /* Нижний блок */
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    background: green; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
    width: 100%; /* Ширина слоя */
}

#block {
    background: grey; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    margin: 10px 10px 20px 10px; /* Значения отступов */
}

form {
    display: inline;
    margin: 5px auto;
    color: black;
}

label {
    display: block;
    margin-left: 20px;
    margin-top: 0px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 320px;
    color: black;
    height: 22px;
    margin: 0 15px 20px 20px;
}

button {
    margin: 0 0 0 20px;
    background: #FEDE7E;
    width: 100px;
    height: 26px
}